.container {
    display: flex;
    flex-direction: row;
}

.container .vid_div {
    display: block;
    width: 70%;
    min-height: 100vh;
    padding: 20px 40px;
}
.container iframe#vid_frame {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    outline: none;
    border: none;
    background-color: lightgray;
    border-radius: 10px;
}
.container h3 {
  display: block;
  padding: 10px;
  font-size: 23px;
  font-weight: normal;
}

.container .content_div {
    display: block;
    width: 30%;
    min-height: 100vh;
}
.container .content_div h3 {
    display: block; 
    width: 100%; 
    text-align: center; 
    padding: 10px; 
    font-size: 23px;
}
.container .content_div a {
  display: flex;
  width: 100%;
  min-height: 30px;
  height: fit-content;
  padding: 5px;
}
.container .content_div a:hover {
  background-color: var(--bg);
}
.container .content_div a img {
  display: block;
  width: 38%;
  aspect-ratio: 4/3;
}
.container .content_div a .text-box {
  display: block;
  width: 62%;
  height: inherit;
}
.container .content_div a .text-box p.content {
  font-size: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Số dòng tối đa trước khi cắt ngắn */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}