.container {
    display: flex;
    flex-direction: row;
}

.container .vid_div {
    display: block;
    width: 68%;
    min-height: 100vh;
    padding: 20px 40px;
}
.container iframe#vid_frame {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    outline: none;
    border: none;
    background-color: lightgray;
    border-radius: 10px;
}
.container h3 {
  display: block;
  padding: 10px;
  font-size: 23px;
  font-weight: normal;
}


.container .content_div {
    display: block;
    width: 32%;
    min-height: 100vh;
    padding-right: 10px;
}
.container .content_div h2 {
    display: block; 
    width: 100%; 
    text-align: center; 
    padding: 10px; 
    font-weight: bold;
}
.container .content_div a {
  display: flex;
  width: 100%;
  min-height: 30px;
  padding: 10px;
  border-radius: 5px;
  flex-direction: row;
  align-items: stretch;
}
.container .content_div a:hover {
  background-color: var(--bg);
}
.container .content_div a img {
  display: block;
  width: 35%;
  margin-right: 3%;
  aspect-ratio: 4/3;
  border-radius: 3px;
}
.container .content_div a .text-box {
  display: flex;
  align-items: center;
  width: 62%;
  height: 100%;
  padding: auto;
}
.container .content_div a .text-box p.content {
  font-size: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Số dòng tối đa trước khi cắt ngắn */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}