:root{
    --screen-height: 864px;
    --screen-width: 1536px;
    --time: .3s;
}
.content{
    --number-col: 4;
}
*{
    box-sizing: border-box; 
    margin: 0; padding: 0; 
    scroll-behavior: smooth; 
    scrollbar-width: thin; 
    line-height: 1.3;
    -webkit-tap-highlight-color:transparent;
    -webkit-tap-highlight-color: rgba(0,0,0,0.3);
}
input {font-family: 'Times New Roman', Times, serif;}
*::-webkit-scrollbar {width: 7px;}
*::-webkit-scrollbar-track {border-radius: 10px; background-color: #CCCCCC;}
*::-webkit-scrollbar-thumb {border-radius: 10px; background-color:black;}

body{
    --text-color: white;
    --bg: #222222;
    --big-bg: #333333; 
    --bg2: #111111;
    background-color: var(--big-bg);
    transition: var(--time);
    overflow-x: hidden;
}
body.lightMode{
    --big-bg: white;
    background-color: var(--big-bg);
    --bg: #EEEEEE;
    --bg2: #DDDDDD;
    --text-color: #111111;
}
body p.message{
    transition: margin var(--time);
    color: var(--text-color);
    display: block; 
    font-size: 24px; 
    margin: calc(var(--screen-width) * .02);
}
body.openMenu .content{
    --number-col: 3;
    grid-template-columns: calc(var(--screen-width) * 0.185) calc(var(--screen-width) * 0.7991) calc(var(--screen-width) * 0.012);
}
body.openMenu p.message{
    margin-left: calc(var(--screen-width) * 0.2);
}
body.openMenu .footer, body.openMenu .pagination{
    margin-left: calc(calc(var(--screen-width) * 0.185) - 20px);
    width: calc(100% - calc(calc(var(--screen-width) * 0.185) - 20px));
}
a {text-decoration: none; color: var(--text-color)}
img, audio {user-select: none;}
::selection {background-color: var(--text-color); color: var(--bg2);}
/*HEADER*/
.header{
    transition: var(--time);
    display: flex;
    position: sticky;
    top: 0;
    background-color: var(--bg);
    /* width: var(--screen-width); */
    height: calc(var(--screen-height) * .10);
    overflow: hidden;
    z-index: 1;
}
.header .button-div{
    display: block;
    padding: 22px;
    height: inherit;
}
.header .button-div h1.button-open{
    transition: var(--time);
    color: var(--text-color);
    display: block;
    margin: auto;
    transform: scaleX(1.4);
    cursor:pointer;
    position: fixed;
    z-index: 999999;
}
.header .title-div{
    margin-left: 20px;
    display: block;
    width: fit-content;
    padding: 25px;
    height: inherit;
    overflow: hidden;
    white-space: nowrap;
}
.header .title-div h1 img {
  display: inline; 
  height: 25px; 
  width: auto;
}
.header .title-div h1.title{
    color: var(--text-color);
    display: block;
    margin: auto;
    text-overflow: ellipsis;
}
.header .search-div{
    margin-left: 180px;
    display: block;
    width: fit-content;
    height: inherit;
    padding: 20px;
}
.header .search-div .result-box{
    position: fixed;
    top: calc(var(--screen-height) * .1);
    height: fit-content;
    width: 566px;
    background-color: var(--big-bg);
    font-size: 20px;    
    border: 1px solid black;
    z-index: 99999;
    display: none;
    border-radius: 10px;
    overflow: hidden;
}
.header .search-div .result-box a{
    display: block;
    padding: 10px 15px;
    /* margin: 2px 0; */
}
.header .search-div .result-box a:hover{
    /* background-color: rgba(0, 106, 255, 0.1); */
    color: var(--bg2);
    background-color: var(--text-color);
}
.header .search-div .search-div2{
    display: flex;
    height: 100%;
    width: fit-content;
    margin: auto;
}
.header .search-div .search-div2 input[type="text"].search-input{
    padding: 15px 24px;
    width: calc(var(--screen-width) * .34);
    font-size: 21px;
    outline: none;
    border: none; 
    border-radius: 10px 0px 0px 10px;
}
.header .search-div .search-div2 .search-icon{
    padding: 10px;
    background-color:white;
    border: 0px;
    height: inherit;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}
.header .search-div .search-div2 .search-icon:hover{
    color: white;
    background-color: #111111;
}
.header .search-div .search-div2 .search-icon h1{
    display: block;
    font-size: 24px;
    margin: auto;
}
/*END HEADER*/

/*MENU*/
.menu{
    transition: var(--time);
    position: fixed;
    --width: calc(var(--screen-width) * calc(.185 - .01));
    width: var(--width);
    height: calc(100vh - calc(var(--screen-height) * .10));
    top: calc(var(--screen-height) * .10);
    /*left: calc(0 - calc(var(--screen-width)*(0.185-0.02)));*/
    left: calc(-1 * var(--width));
    background-color: var(--bg2);
    z-index: 1000; 
    padding-bottom: 25px;
    overflow-y: auto;
    overflow-x: hidden;
}
.menu::-webkit-scrollbar {width: 0px;}
.menu .menu-item{
    display: block;
    width: 100%;
    height: fit-content;
    /* background-color: var(--bg2); */
    color: var(--text-color);
    font-size: 20px;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
}
/* .menu .menu-item.list-open-button{
    position: sticky;
    top: 0;
    background-color: var(--bg2);
} */
.menu .menu-item:hover{
    background-color: var(--text-color);
    color: var(--bg2);
}
.menu .title{
    display: block;
    text-align: center;
    font-size: 80%;
    color: var(--text-color);
    margin: 10px 0px;
}
.menu .hidden-list{
    height: 0;
    overflow: hidden;
    transition: var(--time);
    /* border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color); */
    background-color: var(--big-bg);
    
}
.menu .hidden-list input[type="text"]{
    display: block;
    width: 100%;
    height: fit-content;
    font-size: 18px;
    padding: 10px 15px;
    border: .5px solid var(--text-color);
    outline: none;
    background-color: var(--big-bg);
    color: var(--text-color);
}
.menu .hidden-list .sub-item{
    display: block;
    width: 100%;
    height: fit-content;
    color: var(--text-color);
    font-size: 18px;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
}
.menu .hidden-list .sub-item .hover:hover{
    text-decoration: underline;
}
body.openMenu>.menu{
    left: 0;
}
/*END MENU*/

/*CONTENT*/
.hidden-info {
  position: fixed;
  display: none;
  background-color: var(--text-color);
  color: var(--bg2);
  padding: 13px;
  border-radius: 10px;
  width: 380px;
  z-index: 99999999;
  pointer-events: none;
}
.hidden-info img {
  border-radius: 8px;
  width: 100%;
}
.hidden-info h3 {
  display: block;
  margin: 10px 0 0 0;
  font-size: 17px;
  font-weight: normal;
}
.content{
    padding-top: 10px;
    display: grid;
    grid-template-columns: calc(var(--screen-width) * 0.012) calc(var(--screen-width) * 0.97) calc(var(--screen-width) * 0.012);
    transition: grid-template-columns .3s;
    min-height: 20vh;
}
.content .grid-container {
    display: grid;
    grid-template-columns: repeat(var(--number-col), minmax(0, 1fr)); /* Tạo 3 cột có chiều rộng tỷ lệ tương đương */
    grid-row-gap: 20px; /* Khoảng cách giữa các ô con */
    grid-column-gap: 4px;
}
.content .grid-container .grid-item {
    display: flex;
    color: var(--text-color);
    border-radius: 10px;
    background-color: var(--bg);
    padding: 20px 15px;
    max-width: 100%;
    min-height: 200px;
    overflow: hidden;
    position: relative;
    flex-direction: column;
}
.content .grid-container .grid-item .info-button {
    position: absolute;
    right: 3px;
    top: 3px;
    border-radius: 50%;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    padding: 3px 12px;
    background-color: black;
    color: white;
    z-index: 1000;
    user-select: none;
    cursor:pointer;
}
.content .grid-container .grid-item .image-container {
    width: 100%;
    aspect-ratio: 4 / 3;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}
.content .grid-container .grid-item .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
.content .grid-container .grid-item .flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.content .grid-container .grid-item .flex-container .text-container {
  width: 100%;
  margin-top: 15px;
  font-size: 18px;
}
body:not(.openMenu) .content .grid-container .grid-item .flex-container .text-container {
  font-size: 17px;
}
.cv {
  font-weight: bold;
  color: deeppink;
}
.content .grid-container .grid-item .flex-container .text-container .multiline-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Số dòng tối đa trước khi cắt ngắn */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .grid-container .grid-item .flex-container .text-container .singleline-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*END CONTENT*/

/*PAGINATION*/
.pagination{
    transition: var(--time);
    display: block;
    background-color: var(--big-bg);
    width: var(--screen-width);
    min-height: calc(var(--screen-height) * .2);
    color: var(--text-color);
    position: relative;
}
.pagination .pagination-body{
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    transform: translateY(-50%) translateX(-50%);
    width: fit-content;
    height: fit-content;
    font-size: 18px;
}
.pagination .pagination-body a{
    display: block;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 12.5px 0;
    margin: 3px;
}
.pagination .pagination-body a:not(#none-link,.active){
    background-color: var(--bg);
}
.pagination .pagination-body a.active{
    color: var(--bg);
    background-color: var(--text-color);
}
.pagination .pagination-body a.block{
    display: none;
}
.pagination .pagination-body a:not(#none-link,.active):hover{
    background-color: var(--bg2);
    color: var(--text-color);
    border: 1px solid var(--text-color);
}
.pagination .pagination-body a#none-link{
    border: none;
    padding: 13px 15px;
}
/*END PAGINATION*/

/*FOOTER*/
.footer{
    transition: var(--time);
    display: block;
    min-height: calc(var(--screen-height) * .2);
    width: var(--screen-width);
    background-color: var(--bg);
    color: var(--text-color);
    padding: 10px 35px;
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 25px;
}
.footer h1.title{
    font-size: 30px;
    color: var(--text-color);
    display: block;
    margin: 10px 0;
}
.footer .footer-content{
    --col-footer: 3;
    display: grid;
    grid-template-columns: repeat(var(--col-footer), 1fr); /* Tạo 3 cột có chiều rộng tỷ lệ tương đương */ 
}
.footer .footer-content .grid-item{
    display: block;
    margin: 10px 0 20px 0;
    padding: 20px;
}
.footer .footer-content .grid-item a{
    display: block;
    width: fit-content;
    margin: 12px 0;
}
.footer .footer-content .grid-item a:hover{
/*     text-decoration: underline; */
    color: deeppink;
}
.footer .footer-content .grid-item h2{
    display: block;
    font-size: 24px;
    margin: 0 0 15px 0;
}
/*END FOOTER*/