@media screen and (max-width: 780px) and (orientation: portrait) {
  .container { flex-direction: column; margin-bottom: 0px; }
  .container .vid_div { width: 100%; min-height: 0; padding: 0; }
  .container iframe#vid_frame { aspect-ratio: 4/3; }
  .container h3 { padding: 15px; font-size: 12px; border-bottom: 1px solid var(--text-color); }
  .container h3#download-box a{ font-size: 14px; }
  .container h3#download-box a:hover{ background-color: var(--big-bg); }
  .container .content_div { width: 100%; min-height: 0; padding-right: 0;}
  .container .content_div h2 { font-size: 15px; border-radius: 0; padding: 12px; }
  .container .content_div div a { min-height: 30px; padding: 3px 5px; border-radius: 5px; margin-bottom: 12px; }
  .container .content_div div a:hover { background-color: var(--big-bg); }
  .container .content_div div a img { width: 38%; }
  .container .content_div div a .text-box { width: 58%; margin-left: 1%; }
  .container .content_div div a .text-box p.content-p { font-size: 12px; }
  .container .content_div br{display: none;}
  .footer{margin-top: 30px;}
  .hover:hover { text-decoration: none; }
}

@media screen and (min-width: 780px) and (max-width: 1400px) {
  .container .vid_div { width: 68%; padding: 8px; }
  .container iframe#vid_frame { aspect-ratio: 5/3; border-radius: 5px; }
  .container h3 { padding: 15px; font-size: 12px; border-bottom: 1px solid var(--text-color); }
  .container h3#download-box a{ font-size: 14px; }
  .container h3#download-box a:hover{ background-color: var(--big-bg); }
  .container .content_div { width: 32%; padding-right: 0px; }
  .container .content_div h2 { font-size: 13px; border-radius: 0; padding: 12px; }
  .container .content_div div a { padding: 5px; border-radius: 5px; flex-direction: column; background-color: var(--bg); margin-bottom: 5px; }
  .container .content_div div a:hover { background-color: var(--bg); }
  .container .content_div div a img { width: 100%; margin-right: 0; }
  .container .content_div div a .text-box { width: 100%; margin-left: 0; margin: 7px 3px 3px 3px;}
  .container .content_div div a .text-box p.content-p { font-size: 11px; -webkit-line-clamp: 2; }
  .hover:hover { text-decoration: none; }
}